<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Pete Levine - UI/UX Software Engineer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="UI/UX Software Engineer / Front-End Developer">    
    <link rel="stylesheet" href="./css/site.css" />
</head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="./scripts/bundle.min.js"></script>
</body>
</html>