@import "constants.less";

html, body {
    height: 100%;
    padding: 0px;
    margin: 0px;
}

* {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer, header {
    background-color: @lightGray;
}